.navbar-default .navbar-brand {
    color: rgb(241, 14, 14) !important;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(240, 8, 8) !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgb(120, 194, 86) !important;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu>li>a:hover {
    background-color: rgb(25, 228, 201) !important;
    opacity: .8;
}
.navbar-default {
    border-radius: 0;
}
.app-logo{
    width: 36px;
}