.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EE7;
    border-radius: 0px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 87%;
    margin-bottom: 0px;
}